<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a Masters student in Computer Science at Stony Brook University, New York.<br><br>
          I'm looking for software developer roles where I can work in challenging environments
          amongst technology driven and passionate colleagues.
        </p>
        <br>
        <p>
           I've filed a <b>patent</b> for "RFID based Smart Shopping Cart".
           I'm most attracted to solving real customer problems with a business justification.
        </p>
        <br>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Work Experience</h3>
		    <ul>
          <b> Jasmine Universe LLC, New York | Software Engineering Intern </b><br>
    			<li>
            Developed 2 Win CE applications for a ZigBee based smart device.
    			</li><br>
          <b> Complere Infosystem (OPC) Pvt. Ltd., India | Data Engineering Intern  </b><br>
          <li>
            Provided end to end Data Mining solutions for international clients like Gulf Oil and Frog Capital.
          </li><br>
          <b>Magma Research and Consultancy Pvt. Ltd., India | Software Engineering Intern</b><br>
          <li>
            Developed Leave Management System for Indian Army, to be used by over 10 army regiments across India</li>
    			<li>
            Developed E-Invoicing for DeeTel-Telecom Service Provider, to digitalize invoicing & accounts management
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
