<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
        <li>
				 <b>Algorithms</b>. Algorithms fascinate me. I've taken various grad level algorithmic courses and participated in various competitions to hone this skill.
			  </li>
			  <li>
				  <b>Art</b>. I've been an enthusiastic hobbiest since I was a teenager.I've participated and won numerous Art Competitions and Exhibitions, over various years.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
        <li>
          Developing Stony Brook University’s centralized online judge for code evaluation and grading with Professor Kevin McDonnell,
          to be used for labs and homework programming assignments.
        </li>
        <li>
          Developed a stackable filesystem “SGFS” to support secure recycle bin with file compression and extraction capabilities.
        <li>
          Developed an android app that can detect and modulate media levels of a smartphone based on the background noise level.
        <li>
          Created and performed complex queries on a web of companies’ database in various database management systems.
        </li>
        <li>
          Developed Pacman AI by adding general and adversarial search strategies and Bayesian Network Probability.
        </li>
        <li>
          Developed an arcade platformer and improved playability by research and feedback from over 100 college students.
        </li>
		   </ul>
      </div>
    </div>
  </div>
</section>
